header, section{
  width: 60vw;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 2em;
  margin-bottom: 15px;
}
h2{
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
}
img{
  width: 80%;
}
footer{
  margin-top: 50px;
  text-align: center;
  background-color: #f7e152;
  padding: 10px 0;
}
a{
  text-decoration: none;
  color: grey;
}
a:visited{
  color: grey;
}
a:hover, a.active:hover{
  color: black;
  text-decoration: underline;
}
a.active{
  color: #b57902;
  text-decoration: underline;
}
